// _variables.scss

$primary: #dc2626;
$secondary: #292524;
$accent: #fee2e2;
$neutral: #9ca3af;
$base-100: #ffffff;
$info: #fdba74;
$success: #4d7c0f;
$warning: #ffffff;
$error: #991b1b;

$fonts : 'Roboto'