<header>
    <div class="logo-container">
      <img src="{{ site.baseurl }}/assets/img/logo.svg" alt="Logo" class="logo">
    </div>
    <nav role="navigation">
      <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/about">About</a></li>
        <li><a href="{{ site.baseurl }}/videos">Videos</a></li>
        <li><a href="{{ site.baseurl }}/words">Words</a></li>
        <li><a href="{{ site.baseurl }}/history">History</a></li>
      </ul>
    </nav>
    <div class="search-container">
      <input type="text" placeholder="Search">
      <button class="search-button">search</button>
    </div>
  </header>
  
  